/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.288) inset;
  background-color: var(--white);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #171614;
  border-radius: 6rem;
}

html {
  font-size: 62.5%;
  /* Now 1rem = 1em = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-family: tahoma, arial, verdana;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all .3s linear;
}

img {
  display: inline-block;
}

input,
textarea {
  background-color: transparent;
  outline: none;
  font-size: 1.4rem;
  font-family: var(--font-family-1);
  color: var(--black);
}

::placeholder {
  color: var(--black);
}

p {
  font-size: 1.4rem;
  color: var(--black);
  line-height: 2rem;
  font-weight: 500;
}

/**********************************************************
  Section Header For All Sections Start
**********************************************************/

.section-header {
  text-align: center;
  padding: 2rem 0rem;
  margin: 0rem 2rem;
  margin-top: 5rem;
}

.section-header h1 {
  color: var(--black);
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.section-header h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--red);
  left: 0;
  bottom: -10px;
  animation: animateUnderline 2s infinite;
}

/* Optional underline animation */
@keyframes animateUnderline {

  0%,
  100% {
    width: 0%;
  }

  50% {
    width: 100%;
  }
}

/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  width: 100vw;
  height: auto;
}

/**********************************************************
  Header Start
**********************************************************/
header {
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem;
}

/**********************************************************
  Navbar Start
**********************************************************/
:root {
  --blue: #0048AE;
  --white: #fff;
  --grey: #FCFCFC;
  --grey-faint:#fcfcfcd9;
  --black: #171614;
  --red: #D00000;
  --green: #2A9134;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--grey);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  box-shadow: none;
}

/* Sticky Navbar on Scroll */
.sticky {
  background-color: var(--grey-faint);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo-box {
  flex: 1;
}

.menubar ul li a {
  display: flex;
  flex: 2;
  justify-content: center;
  color: var(--black);
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  align-items: center;
}

.menubar ul li {
  padding: 1rem 2rem;
  position: relative;
  cursor: pointer;
}

.menubar ul li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  background-color: black;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s linear;
}

@media (hover:hover) {
  .menubar ul li:hover::after {
    width: 70%;
  }
}

/* Toggle Button for Mobile */
.toggle {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 2px solid var(--black);
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  display: none;
}

#checkbox {
  display: none;
}

#checkbox:checked+.menubar {
  transform: translateX(0);
}

/* Sticky Navbar Animation */
.navbar.sticky .logo-box .logo {
  color: var(--black);
}

.navbar.sticky .menubar ul li a {
  color: var(--black);
}

/**********************************************************
  Banner Section Start
**********************************************************/

/**********************************************************
  Banner Left Start
**********************************************************/
.banner-left {
  width: 40%;
  min-width: 40%;
}

@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.banner-left h1 {
  color: var(--blue);
  font-size: 3.3rem;
  margin-bottom: 1.8rem;
}

.animated-text {
  color: var(--black);
  font-size: 3.5rem;
  text-transform: capitalize;
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  animation: typing 3s steps(30, end) step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.banner-left p {
  margin-bottom: 2rem;
}

.banner-left button:not(:last-child) {
  margin-right: 1.5rem;
}

/**********************************************************
  Banner Right Start
**********************************************************/
.banner-right {
  width: 50%;
  height: 50%;
}

.banner-right img {
  width: 100%;
}

.carousel-container {
  width: 95%;
  margin: 0 auto;
  padding: auto;
}

.carousel-slide {
  display: none;
  flex-shrink: 0;
  animation: rotate-text-up 5s infinite;
  justify-content: space-between;
  align-items: center;
}

@keyframes rotate-text-up {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

.carousel-slide.active {
  display: flex;
  opacity: 1;
}

.common-btn,
.common-btn-2 {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.common-btn {
  background-color: var(--red);
}

.common-btn-2 {
  background-color: var(--green);
}

/* Carousel controls */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

#prev {
  left: 5px;
}

#next {
  right: 5px;
}

/**********************************************************
  Banner Section End
**********************************************************/

/**********************************************************
  Header End
**********************************************************/

/**********************************************************
  Services Section Start
**********************************************************/

/**********************************************************
  Services Boxes
**********************************************************/

.services-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Service-col-1 styling */
.service-col-1 {
  width: 100%;
  /* Make it take more space than slider section */
  padding: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-col-1 h1 {
  color: var(--black);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.carousel-service {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  animation: slide 30s none infinite;
}

.card {
  margin: 0px 10px;
  padding: 0px 10px;
  min-width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 8px;
}

.card img {
  max-width: 30%;
  height: auto;
}

.card h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #0048AE;
}

.card p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--black);

}

/* Infinite scroll animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  33.33% {
    transform: translateX(-100%);
  }

  44.33% {
    transform: translateX(-200%);
  }

  55.33% {
    transform: translateX(-300%);
  }

  66.66% {
    transform: translateX(-400%);
  }

  73% {
    transform: translateX(-500%);
  }

  80% {
    transform: translateX(-600%);
  }

  90% {
    transform: translateX(-700%);
  }

  100% {
    transform: translateX(0);
  }
}

/**********************************************************
  Services Section End
**********************************************************/


/**********************************************************
  About Section Start
**********************************************************/

/**********************************************************
  About Left
**********************************************************/
.about-left {
  width: 50%;
}

.about-left img {
  width: 100%;
}

/**********************************************************
  About Right
**********************************************************/
.about-right {
  padding-top: 2rem;
  width: 50%;
  text-align: center;
}

.about-right h2 {
  color: var(--black);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.counters {
  background: var(--blue);
  color: #fff;
  padding: 40px 20px;
  border-top: 3px lightskyblue solid;
}

.counters .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.counters .counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counters i {
  color: lightskyblue;
  margin-bottom: 15px;
  animation: bounce 2s infinite;
}

.counters .counter-plus {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.counters .counter {
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);

}

.counters .plus {
  font-size: 5rem;
  color: var(--white);

}

.counters h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
  color: var(--white);
}

/* Adding animation for icons */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-15px);
  }
  60% {
      transform: translateY(-10px);
  }
}

@media (max-width: 700px) {
  .counters .container {
      flex-direction: column;
  }
}

/**********************************************************
  About Section End
**********************************************************/

.course-container{
  overflow: hidden; 
  background: #0048aed3;
  font-size: .88rem;
  color: var(--black);
}

.content-width {
  width: 86%;
  height: 60vh;
  margin: 0 auto;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slideshow-items {
  position: relative;
  width: 100%;
  height: 300px;
}

.item {
  position: absolute;
  width: 100%;
  height: auto;
}

.item-image-container {
  position: relative;
  width: 42%;
}

.item-image-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 101%;
  height: 101%;
  background: #232b35d3;
  opacity: 0;
  z-index: 1;
}

.item-image {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0;
  display: block;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  position: absolute;
  font-size: 1.4rem;
  top: 5%;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;
  color: #FCFCFC;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  position: absolute;
  top: 120px;
  left: -1.8%;
  z-index: 100;
}

.item-header .vertical-part {
  margin: 0 -4px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: auto;
  font-size: 6vw;
  color: var(--white);

}

.vertical-part {
  overflow: hidden;
  display: inline-block;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.item-header .vertical-part b {
  transition: .5s;
}

.item-description .vertical-part b {
  transition: .21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  position: relative;
  text-align: right;
  z-index: 1000;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background:#bdbdd5;;
  cursor: pointer;
}

.controls ul li.active {
  background:#6a6a77;;
}

.course-btn{
  align-items: end;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
/**********************************************************
  Contact Section Start
**********************************************************/
#contact {
  text-align: center;
}

#contact>h1 {
  color: var(--blue);
  margin-bottom: 2rem;
  text-align: left;
  font-size: 3rem;
}

.contact-row input,
.contact-row textarea {
  width: 49%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--blue);
}

.contact-row textarea {
  margin-top: 2rem;
  width: 100%;
  resize: vertical;
}

/**********************************************************
  Contact Section End
**********************************************************/


/**********************************************************
  Footer Start
**********************************************************/
.footer {
  padding: 2rem 0;
  background-color: var(--black);
  text-align: center;
}

.footer h1 {
  font-size: 2.5rem;
  color: var(--grey);
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.footer p {
  font-size: 1.2rem;
  color: var(--grey-faint);
}

/**********************************************************
  Footer End
**********************************************************/


/**********************************************************
  Keyframes For Animations Start
**********************************************************/

/**********************************************************
  Keyframes For Change Banner Heading Content
**********************************************************/

@keyframes change-content {
  0% {
    content: "web developement";
  }

  30% {
    content: "app developement";
  }

  60% {
    content: "networking";
  }

  100% {
    content: "Digital Marketing";
  }
}

/**********************************************************
  Keyframes For Animations End
**********************************************************/


/***********************************************************************************************
  Actual Document Styling End
***********************************************************************************************/
